{{page-title this.appTitle}}

<AuApp>
  <GlobalSystemNotification />
  <AuMainHeader
    @brandLink={{unless
      this.session.isAuthenticated
      "https://www.vlaanderen.be/nl"
    }}
    @homeRoute="index"
    @appTitle={{this.appTitle}}
  >
    <li class="au-c-list-horizontal__item au-u-hide-on-print">
      <AuLinkExternal
        href="https://abb-vlaanderen.gitbook.io/handleiding-loket/veelgestelde-vragen"
        @skin="secondary"
      >
        <AuIcon @icon="question-circle" @alignment="left" />
        Help
      </AuLinkExternal>
    </li>
    <li class="au-c-list-horizontal__item">
      {{#if this.session.isAuthenticated}}
        <AuDropdown
          @title="{{this.currentSession.user.voornaam}} {{this.currentSession.user.achternaam}} - {{this.currentSession.groupClassification.label}} {{this.currentSession.group.naam}}"
          @buttonLabel="Account settings"
          @alignment="right"
          role="menu"
          class="logged-in-user"
        >
          <AuLink @route="auth.switch" @icon="switch" role="menuitem">
            Wissel van bestuurseenheid
          </AuLink>

          <AuLink @route="auth.logout" @icon="logout" role="menuitem">
            Afmelden
          </AuLink>
        </AuDropdown>
      {{else}}
        <LoginButton @isCompact={{true}} />
      {{/if}}
    </li>
  </AuMainHeader>

  {{#if this.session.isAuthenticated}}
    <AuMainContainer as |main|>
      <main.content>
        <AuBodyContainer>
          {{#unless this.isIndexOrLoading}}
            <AuToolbar class="au-u-hide-on-print" @size="medium" @skin="tint" @border="bottom" as |Group|>
              <Group>
                <ul
                  class="au-c-list-horizontal au-c-list-horizontal--small"
                >
                  <li class="au-c-list-horizontal__item">
                    <AuLink @route="subsidy.applications" @icon="arrow-left">
                      Terug naar overzicht
                    </AuLink>
                  </li>
                  <BreadCrumb />
                </ul>
              </Group>
            </AuToolbar>
          {{/unless}}
          <AuBodyContainer id="content">
            {{outlet}}
          </AuBodyContainer>
        </AuBodyContainer>
      </main.content>
    </AuMainContainer>
  {{else}}
    {{outlet}}
  {{/if}}
</AuApp>

<AuModalContainer />
<AuToaster />